@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Scanner Animation */
@keyframes scan {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: translateY(420px);
    opacity: 0;
  }
}

/* Emergency Pulse */
@keyframes emergencyPulse {
  0% {
    box-shadow: 0 0 0 rgba(239, 68, 68, 0);
  }

  50% {
    box-shadow:
      0 0 40px rgba(239, 68, 68, 0.35),
      0 0 80px rgba(239, 68, 68, 0.15);
  }

  100% {
    box-shadow: 0 0 0 rgba(239, 68, 68, 0);
  }
}

/* Subtle Floating */
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-emergency {
  animation: emergencyPulse 2s infinite;
}